// 三角形
@mixin triangle($color: #ccc, $direction: bottom, $borderTopWidth: 7px, $borderRightWidth: 7px, $borderBottomWidth: 7px,$borderLeftWidth: 7px) {
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: $borderLeftWidth solid transparent;
    border-top: $borderTopWidth solid transparent;
    border-right: $borderRightWidth solid transparent;
    border-bottom: $borderBottomWidth solid transparent;
    @if ($direction == top) {
      border-bottom-color: $color;
    } @else if ($direction == right) {
      border-left-color: $color;
    } @else if ($direction == bottom) {
      border-top-color: $color;
    } @else if ($direction == left) {
      border-right-color: $color;
    }
  }
}
